<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/users/fragments/users-layout :: headTag">
    <title id="pageTitle">Edit user</title>
</head>
<body>

<div class="container">
    <div th:include="/users/fragments/users-layout :: bodyHeader"></div>

    <p class="h4 mb-4">Edit user</p>
    <form action="#" th:action="@{/users/update}" th:object="${updateRequest}" method="post" class="border border-light p-5 mb-4">
        <input type="hidden" th:field="*{userId}">
        <input type="text" th:field="*{username}" class="form-control mb-4 col-4" placeholder="User name">
        <input type="text" th:field="*{roles}" class="form-control mb-4 col-4" placeholder="User name">
        <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" th:field="*{active}" class="custom-control-input" id="active">
            <label class="custom-control-label" for="active">Active</label>
        </div>
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/users}">Back to Users List</a>
</div>

</body>
</html>