<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/users/fragments/layout :: headTag">
    <title id="pageTitle">Add user</title>
</head>
<body>

<div class="container">
    <div th:include="/users/fragments/layout :: bodyHeader"></div>

    <p class="h4 mb-4">Save user</p>
    <form action="#" th:action="@{/users/create}" th:object="${createRequest}" method="post" class="border border-light p-5 mb-4">
        <input type="text" th:field="*{username}" class="form-control mb-4 col-4" placeholder="User name">
        <input type="password" th:field="*{password}" class="form-control mb-4 col-4" placeholder="Password">
        <input type="text" th:field="*{roles}" class="form-control mb-4 col-4" placeholder="Roles">
        <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" th:field="*{active}" class="custom-control-input" id="active">
            <label class="custom-control-label" for="active">Active</label>
        </div>
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/users}">Back to Users List</a>
</div>

</body>
</html>